
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Paacab</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/navbar.css" />
       
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        
    </head>
    <body>
        
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="/uk/admin"><button type="button" class="btn btn-success">UK ADMIN</button></a>
                    <a href="/india/admin"><button type="button" class="btn btn-success">INDIA ADMIN</button></a>
                    <a href=""><button type="button" class="btn btn-success">BANGLADESH ADMIN</button></a>
                    <a href="/uk/admin/sub"><button type="button" class="btn btn-success">UK SUB-ADMIN</button></a>
                    <a href="/india/admin/sub"><button type="button" class="btn btn-success">INDIA SUB-ADMIN</button></a>
                    <a href=""><button type="button" class="btn btn-success">BANGLADESH SUB-ADMIN</button></a>
                    
                </div>
            </div>
            
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
