
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>      
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      
        <script src="/uk/javascripts/socket.io.js"></script>        
        <script src="/uk/javascripts/inDriverBackGround.js"></script>
    </head>

    <body>
        <h1>Background Service</h1>        
        
      
        <script async defer   
        src="https://maps.googleapis.com/maps/api/js?key=<%=YOUR_API_KEY%>&callback=initMap">
        </script>
    </body>
</html>
