
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="3bevdaJpVw9QgvkOWmGv-dU7KdxtZY6mHGcukR5n-cc" />
        <title>Paacab</title>
        <link rel="shortcut icon" href="/index/images/logo/paaicon.png" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/navbar.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/indexStyle.css" />
        
        
    </head>
    <body>
        <nav class="navbar navbar-def navbar-fixed-top">
            <div class="container-fluid ">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../">
                        <img style="margin-top: -10px;" alt="brand" src="/index/images/logo/paalogo.png" width="100" height="40">
                  </a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="/india/download/invest.pptx"><i class="fa fa-money" aria-hidden="true"></i> Want To Invest Paa Cabs <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="/driver"><i class="fa fa-drivers-license" aria-hidden="true"></i> Driver <span class="sr-only">(current)</span></a></li>
                    <li><a ><i class="fa fa-car" aria-hidden="true"></i> Rider</a></li>
                    <!-- <li><a  ><i class="fa fa-eject" aria-hidden="true"></i>&nbsp; About</a></li> -->
                    <li><a> <i class="fa fa-cart-plus" aria-hidden="true"></i> Buy Km Packages</a></li>
                    <li><a ><i class="fa fa-vcard" aria-hidden="true"></i> Hire Employee</a></li>
                    
                  
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          
          <div id="slider" class="slider" >
            
            <div id="carousel-id" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img  alt="First slide" src="/index/images/slide/slider2.jpg">
                        <div class="container">
                            <div class="carousel-caption">
                                <!-- <h1>Example headline.</h1>
                                <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img  alt="First slide" src="/index/images/slide/slider2.jpg">
                        <div class="container">
                            <div class="carousel-caption">
                                <!-- <h1>Another example headline.</h1>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <img  alt="First slide" src="/index/images/slide/slider2.jpg">
                        <div class="container">
                            <div class="carousel-caption">
                                <!-- <h3>One more for good measure.</h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                <p><a class="btn  btn-primary" href="#" role="button">Browse gallery</a></p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>            
          
        <div class="container-fluid">
         
         <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <p class="text-center text1">Lets ride together with PaaCab as low &#8377;3.00 per KM</p>
                 <p class="text-center text2">Choose the Best Local Ride Hailing app that Care about our Community</p>
             </div>
         </div>
         <div class="row" style="margin-top: 30px;">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                <div class="btn1 col-xs-6 col-sm-6 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1"><a href="/driver">Drive With Us</a></div>
                <div class="btn1 col-xs-6 col-sm-6 col-md-4 col-lg-4 col-md-offset-2 col-lg-offset-2"><a href="/rider">Ride With Us</a></div>
            </div>
            
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text3 text-center">PAA launched in the india 2020 and has been rapidly acros the India and also we are
                about to launch in the Bangladesh, United Kingdom as well. Check back frequently as we will coming to
                city near you soon!</div>
            
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text4 text-center">We are Currently Opereting in:</div> 

            
        </div>
        <div class="row" style="margin-top: 50px;">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 opretingArea">
                India: 
                <ul>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Kolkata</li>                    
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Durgapur</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Burdhaman</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Asansol</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Siliguri</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Delhi</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Mumbai</li>
                </ul>               
            </div> 
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 opretingArea">
                BanglaDesh:
                <ul>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Dhaka</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Rajshahi</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Sylhet</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Chittagong</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Barisal</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Khulna</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Mymensingh</li>
                    
                </ul> 
            </div> 
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 opretingArea">
                United Kingdom: 
                <ul>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> London</li>
                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i><a href="/privacy">Terms and Condition</a> </li>
                </ul> 
            </div>
        </div> 
            
        </div>

        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="appdownload">
                        <p>Get Our App</p>
                        <div class="appbtn">
                            <a href="https://play.app.goo.gl/?link=https://play.google.com/store/apps/details?id=com.paacab.paacustomer&hl=en_IN"><img  src="/index/images/googleplay.jpg"></a>
                        </div>
                        <div class="appbtn">
                            <img  src="/index/images/isoapp.png">
                        </div>
                    </div> 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <ul>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Dhaka</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Rajshahi</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Sylhet</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Chittagong</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Barisal</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Khulna</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Mymensingh</li>
                        
                    </ul> 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <ul>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Dhaka</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Rajshahi</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Sylhet</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Chittagong</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Barisal</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Khulna</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Mymensingh</li>
                        
                    </ul> 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <ul>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Careers</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Rajshahi</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Sylhet</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Chittagong</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Barisal</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Khulna</li>
                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Mymensingh</li>
                        
                    </ul> 
                </div>
                
            </div>
        </div>
        
                    
        </div>
          

        

        <!-- jQuery -->
        <script src="/index/javascripts/sidebar.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>

