
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="3bevdaJpVw9QgvkOWmGv-dU7KdxtZY6mHGcukR5n-cc" />
        <title>Title Page</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/navbar.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/indexStyle.css" />
        
        
    </head>
    <body>
        <nav class="navbar navbar-def navbar-fixed-top">
            <div class="container-fluid ">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../">
                        <img style="margin-top: -10px;" alt="brand" src="/index/images/logo/paalogo.png" width="100" height="40">
                  </a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><i class="fa fa-drivers-license" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a ><i class="fa fa-car" aria-hidden="true"></i> Driver</a></li>                    
                  
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>

          <div class="DmainPic">
              <img src="/index/images/Dpic1.jpeg">
          </div>
          
          <div class="container-fluid">
              <p class="dtext1 text-center">Welcome to PAA Family</p>
              <p class="dtext1 text-center"><a href="https://paacab.com/drive"><button type="button" class="btn btn-primary text-center">Sign Up To Drive</button></a></p>
              <p class="dtext2 text-center">Reason to Drive with PAA</p>
            
            <div class="row">
              <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-1 col-sm-offset-1  dbox1 ">
                <p><strong><i class="fa fa-star" aria-hidden="true"></i> ZERO COMMISION: </strong> whatever you earn you keep it all yourself</p>
                <p><strong><i class="fa fa-star" aria-hidden="true"></i> EARN MORE ON SHARE RIDE: </strong> You take one more passenger on you share
                  ride you will earn 10% extra on total, two passenger you earn 20%, Three
                  Passenger you earn 30% and it will go on repectively.</p>
                <p><strong><i class="fa fa-star" aria-hidden="true"></i> Daily Payout: </strong>  Get your previous day's earnings the next working day.</p>
                <p><strong><i class="fa fa-star" aria-hidden="true"></i>  Local, on-the-ground support, plus a 24/7 helpline.</strong>  </p>
              
               
              </div>
            </div>

            
            <div class="row">
              <p class="dtext2 text-center">How to Apply</p>
              <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-1 col-sm-offset-1  dbox1 ">
                
                <p class="dtext2 text-center">Go to <a href="https://paacab.com/drive">https://drive.paacab.com</a>, sign up with your existing Google account or simply follow
                  the on-screen prompts if using your mobile. You'll be asked to upload all the necessary
                  documentation, so save time by having them handy when you get started. Find out
                  what documents you need at drive.paacab.com.</p>

                  
              </div>
            </div>

            
            <div class="row">
              <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-1 col-sm-offset-1 ">
                <p class="dtext2 ">FAQ</p>
                  <p class="dtext3 ">Onboarding with  PAA<br>
                  <span class="dtext4">
                    Who can register as a PAA Driver? </span> <br>Anyone with a valid PHV or Metered Taxi (Hackney) license and eligible car manufactured after 2008 can apply to drive with PAA. We’re already looking for drivers in many areas now, and with other locations soon to launch, watch out for updates! See where we operate on our homepage.
                    <br><span class="dtext4">How can I register to drive with PAA?</span> <br>
                    Go to drive.paacab.com and sign in using your Google account or mobile phone to start the registration process and upload all the required documentation.
                    
                    Once verified, we’ll contact you with the tools required to start your paa driver journey. Note that the sign-up process may vary by city and category (PHV or Metered Taxi).
                    <br><span class="dtext4">Do I need special training to work with PAA?</span> <br>
                    Every driver who drives with PAA needs to complete essential training or will be temporarily off road until the training is completed.
                    
                    Our local teams hold training sessions in every city we operate in to ensure drivers are fully equipped with all information and materials needed for a smooth experience. Any livery needed for your area can be collected from your local office.
                    <br><span class="dtext4">What iOS & Android versions do I need to drive with PAA?</span><br>
                    iOS - 8.0 & above.
                    
                    Android - 4.0 & above.
                    <br><span class="dtext4">How do I check the status of my application?</span><br>
                    We’ll email you with a status update on your application, or you can check your status by logging into www.drive.paacab.com. The verification process usually takes 48 hours from receipt of all correct documentation.
                    <br><span class="dtext4">How much does it cost to sign up?</span><br>
                    Registration is absolutely free! All you need is the required documents and an iOS or Android smartphone with an active data connection to join PAA
                    Document Types and General Licensing Information
                    <br><span class="dtext4">What format can I upload my documents in?</span><br>
                    Please photograph your original documents and upload them with your online application.
                    <br><span class="dtext4">What vehicle type should I select if I have a dual license?</span><br>
                    The vehicle type you select must be the same as your vehicle licence. Specifically, Hackney Carriage Vehicle licence for Metered Taxi and Private Hire Vehicle licence for Private Hire Taxi.
                    <br><span class="dtext4">Who are the DVLA?</span><br>
                    DVLA stands for Driver and Vehicle Licensing Agency. This is the agency appointed by the government to register and license drivers in Great Britain.
                    <br><span class="dtext4">What is a plastic DVLA driving license?</span><br>
                    A plastic DVLA driving license is a pink photo card displaying a full UK driving license required as part of your driver registration with paa. Licenses in an older format are usually still accepted until they’re renewed and replaced
                    <br><span class="dtext4">How do I apply for a Private Hire license?</span><br>
                    Visit https://tfl.gov.uk/info-for/taxis-and-private-hire/licensing/private-hire-driver-licence to apply for a Private Hire License. The documents you need and registration process are explained in detail on the site.
                    <br><span class="dtext4">How do I apply for a DVLA license?</span><br>
                    Visit gov.uk/apply-first-provisional-driving-licence to apply for a driving license. The documents you need and registration process are explained in detail on the site.
                    <br><span class="dtext4">How do I renew my current DVLA license?</span><br>
                    Visit gov.uk/renew-driving-licence to renew an existing driving license. The documents you need and registration process are explained in detail on the site.
                    <br><span class="dtext4">What is a Private Hire Driver License?</span><br>
                    This is the license you need to drive a licensed private hire vehicle. It’s issued by your local city council as paper and a badge.
                    <br><span class="dtext4">What is a V5C vehicle logbook?</span><br>
                    This is the official name for the registration form of a vehicle, also known as the ‘log book’ or ‘V5’. The V5C contains important information about your car, the same held DVLA’s database, including information about the current and previous owners of the vehicle. Go to: https://www.gov.uk/vehicle-log-book for more information.
                    <br><span class="dtext4">How do I apply for a V5C vehicle logbook?</span><br>
                    Visit https://www.gov.uk/vehicle-log-book to apply for a vehicle logbook. The documents you need and the registration process is explained in detail on the site.
                    <br><span class="dtext4">What is a National Insurance number?</span><br>
                    National Insurance numbers are used in the UK in the administration of the National Insurance or social security. It’s sometimes used in the UK tax system and is described by the UK government as a ‘personal account number’.
                    <br><span class="dtext4">How do I apply for a National Insurance number?</span><br>
                    To apply for a National Insurance number, call Jobcentre Plus on 0800 141 2075.
                    PAA Policies
                    <br><span class="dtext4">How does the ride dispatch system work?</span><br>
                    Once a rider has chosen their preferred car type – PHV (4 or 6 seater) or Metered Taxi – we allocate those rides to drivers based on an algorithm that removes any human bias, making it fair for everyone.
                    <br><span class="dtext4">What’s the ride cancellation policy?</span><br>
                    When the customer cancels, you get a cancellation fee if:
                    
                    -You are en-route to the pickup location
                    -It happens more than 3 mins after you had accepted the ride
                    -You were heading towards the pickup location and were on track to arrive no more than 5 minutes later than the estimated time of arrival shown to you on your app at the time of acceptance.
                    
                    Alternatively:
                    
                    -The customer cancels after you have arrived at the pickup location
                    -You arrived no more than 5 minutes after the estimated arrival time shown on your app at the time of acceptance.
                    
                    When you cancel, you get a cancellation fee if:
                    
                    -You arrived at the pickup location no more than 5 minutes after the estimated time of arrival shown on your app when you accepted the booking
                    -You waited for at least 5 min after you had reached the pickup location after tapping the ‘Reached Pickup’ button (indicated by the countdown timer within the app)
                    
                    You will not get a cancellation fee if:
                    
                    -The cancellation takes place within the first 3 minutes after your acceptance
                    -You’re running more than 5 minutes late to the pickup location
                    -You reach the pickup location more than 5 minutes after the original ETA
                    
                    N.B. Please note that Paa’s commission applies to the cancellation fee. Cancellation fee amount can vary by city and car type.
                    <br><span class="dtext4">Why does PAA make me take breaks?</span><br>
                    Driving for long periods of time without taking breaks increases the risk of accidents that can harm you, your passengers and other road users.
                    How often do I need to take a break?
                    If you accumulate 10 hours of in-trip driving time within 24 hours from the start of a shift, we will put you on an Enforced Rest of 8 hours. During this time you will not be able to log on and take trips.
                    What gets counted as in-trip driving time?
                    This time starts from the moment that you accept a trip until the time the trip finishes (either drop off or cancellation).
                    <br><span class="dtext4">Why do I get a notification before this advising me to take a Recommended Short Break?</span><br>
                    If you have been online continuously for 5 and a half hours we will give you an in-app notification advising you to take a break.
                    
                    This is not compulsory, and we will not take you offline. Instead, this is meant to be a friendly and helpful reminder to take regular breaks from driving.
                    <br><span class="dtext4">What should I do if a customer makes a mess in my vehicle?</span><br>
                    When a customer makes a mess in your vehicle, there are a few key things that you need to know and do to get it sorted, back on the road, and compensated, as quickly as possible.
                    Your first task is to give Partner Care a call and let them know that it’s happened. You must inform us within 60 minutes of the trip finishing and give the CRN of the ride.
                    You will then need to provide us with the following before you start taking trips again:
                    i) 2-3 clear pictures of the car with the damage/mess
                    ii)) A brief description of what happened and any additional circumstances
                    iii)You will also be asked to provide a valid cleaning receipt with at least one identifying factor like your vehicle number (or) name
                    Payments, Offers and Incentives
                    <br><span class="dtext4">How and when are PAA drivers paid?</span><br>
                    We like to play fair and pay fair at PAA, so all your earnings at the end of a working day will be transferred to your nominated account the next business day.
                    <br><span class="dtext4">Do you have a special launch offer for drivers?</span><br>
                    Launch offers vary per city. Drivers are informed of any launch offers when onboarding starts in a new city.
                    
                    You can register your interest as a driver before we launch in a city and be the first to hear when we do – just go to drive.PAA.com.
                    <br><span class="dtext4">Does PAA have a driver-to-driver referral scheme?</span><br>
                    PAA offers a referral bonus to drivers every time they successfully introduce a new driver to the platform.
                    
                    A referral is considered successful when the referred driver signs up and completes a targeted number of valid rides within a given time. Conditions apply – check the driver app for details.
                    <br><span class="dtext4">What’s the cost of driving with PAA?</span><br>
                    
                    PAA operates a ‘pay as you go’ model, offering its services to drivers at a very competitive commission rate of 0%. PAA does not charge any fixed rental or fee.
                    Metered Taxis
                    <br><span class="dtext4">Can metered taxis work with PAA?</span><br>
                    Yes they can! We provide instant and easy access to riders through our mobile app to supplement your street-hailing demand and increase your income.
                    
                    PAA helps reduce downtime and offers daily payments, 24/7 Call Support, and advanced in-app safety features.
                    <br><span class="dtext4">Why should metered taxis work with PAA?</span><br>
                    
                    PAA gives taxis access to a readily available customer base to help supplement existing income from street-hailing riders. Payments are made daily, our call support is available 24/7 and our advanced safety features offer peace of mind when you need it.
                    Getting Help
                    <br><span class="dtext4">Who do I contact with further questions?</span><br>
                    You can call our 24/7 Call Support on +91 7001998578 or click here to write to us
                    
                    NOTE: By emailing us, you consent to receiving calls and emails from us in relation to your queries, some of which may be promotional in nature.
                    Where is my local Paa office?
                    
                    </p>
                
              </div>
            </div>
            
            
            
            </div> 
          
          
          
          

        

        <!-- jQuery -->
        <script src="/index/javascripts/sidebar.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>

