
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        
        
    </head>
    <body>
        <p>Effective Date: 23 May 2018

            Last Updated Date: 11 June 2019
            
            This Privacy Policy is incorporated by reference into the PAACAB Terms of Use.   
            
            INTRODUCTION
            
            This document tells you how we collect and use your information as part of our Service (as defined below). It also describes the Personal Data we collect and how we use and share such data. We aim to be transparent about how we deal with Personal Data so our users can understand what we do and can exercise control over how we deal with Personal Data about them.
            
            Please read the following carefully to understand our practices regarding your Personal Data and how we will treat it.  
            
            By using or engaging with our Services, you acknowledge that you have read and understood this Privacy Policy.
            
            WHO WE ARE
            
            Hereinafter PAACAB ltd ., together with its successors, affiliates and subsidiaries shall be referred to as “PAACAB”, “Company”, “we” and “us”.
            
            Depending on which Service you have requested, there will be a PAACAB data controller responsible for determining the purpose and the means of processing in accordance with the General Data Protection Regulation (“GDPR”):
            
            Services
            
            Data Controller (paacab entity)
            
            Supervisory Authority (for information purposes)
            
            Paacab in the United Kingdom
            
            Via Transportation UK Ltd
            
            Information Commissioner’s Office
            
            Paacab  in the India
            
            paacab ltd
            
            Information Commissioner’s Office
            
            Paacab  in the  Bangladesh
            
            paacab ltd
            
            Bangladesh BTCL
            
            For you, this means that the above mentioned PAACAB entity, in the location where you receive our Services, is the party to turn to in case of any questions or requests regarding the processing of your Personal Data or this Privacy Policy. You may reach each PAACAB entity at support@paacab.com.  Where you are based in the United Kingdom, the India, or Bangladesh, Paacab ltd . Will be a joint controller of the personal data collected by the local paacab entity.
            
            This Policy sets out:
            
            ·          Information we collect about you through the “Service” and how we use it for both Members and Driver Partners;
            
            ·          Cookies and related technologies;
            
            ·          Our promotional updates and communications;
            
            ·          Children’s privacy;
            
            ·          Who we share your information with;
            
            ·          Security of your information and retention;
            
            ·          Payment processing;
            
            ·          International transfers of Personal Data;
            
            ·          Your choices for limited use and disclosure;
            
            ·          Your rights – accessing, updating or deleting your information;
            
            ·          How to resolve complaints;
            
            ·          Changes to our Privacy Policy and practices.
            
            The “Service” means any website, mobile application, or Internet service under Paacab’s control, whether partial or otherwise, in connection with providing Paacab’s online platform that enables users to connect with vehicle-sharing transportation providers in major cities. Each reservation a user makes with such vehicle-sharing transportation providers on the Service is a “Reservation,” and each ride taken through a Reservation is a “Ride.” “Member” means any such individual who uses the Service to make Reservations and take Rides. “Driver Partner” means any such independent contractor who registers with the Service as a third-party transportation provider to provide Rides to Members.
            
            “Personal Data” means information that alone or when in combination with other information may be used to identify, contact, or locate you, such as: name, address, email address, or phone number. We do not consider Personal Data to include information that has been anonymized so that it does not allow a third party to identify a specific individual.
            
            1. INFORMATION WE COLLECT ABOUT YOU THROUGH THE SERVICE AND HOW WE USE IT
            
            Two kinds of users may use the Service: Members and Driver Partners. We collect different types of information from these two types of users. The tables below apply to both Members and Driver Partners unless otherwise stated.
            
            We collect Personal Data when you, as either a Member or Driver Partner:
            
            ·          register to use the Service and communicate with us (“Information you give us“); and
            
            ·          use the Service (“Information we collect about you from your use of our Services“).
            
            We also collect location data as set out below.
            
            1. Information you give us:
            
            This is information about you that you give us directly when you interact with us. EU privacy law requires us to explain to users, for each category of information we collect, why we collect it and the “lawful basis” on which we process the data – legalese for the reason recognised by EU privacy law which allows us to collect and use your information as set out in this Privacy Policy.
            
            Personal Data type collected
            
            Lawful basis for processing
            
            Purpose of processing
            
            ·          First Name;
            
            ·          Middle Name (for Driver Partners only);
            
            ·          Last Name;
            
            ·          Email;
            
            ·          Profile image/ Photo (optional for Members);
            
            ·          Date of birth (for Driver Partners only);
            
            ·          Tax identification , national insurance and/or social security number (TIN) (for Driver Partners only);
            
            ·          Gender (for Driver Partners only);
            
            ·          Geographic address.
            
            ·          Members: Our legitimate interests in authenticating authorized Members so we can provide the Service, and enable Members to connect with Driver Partners and, with the Member’s consent, promote the use of the Services to them, and as is necessary for the purpose of the contract in order to provide the Service.
            
            
            ·          Driver Partners: Our legitimate interests and as is necessary for the purpose of the contract between ViaVan and the Driver Partner.
            
            ·          Set-up and manage account;
            
            ·          Provision of Services;
            
            ·          Customer service;
            
            ·          Internal operations (including troubleshooting, data analysis, testing, research, statistical and survey purposes);
            
            ·          For analysis and report generation purposes (including developing new features, support service improvements on payments, pricing, routing, algorithmic dispatching efficiencies, for quality of Service review and fraud detection);
            
            ·          Improve service functionality and efficiency;
            
            ·          Prevention of fraud/ integrity of systems and manage accounts;
            
            ·          In relation to Driver Partners, for background checks to assess suitability of Driver Partners and protect Members;
            
            ·          In relation to Driver Partners, to investigate ratings, Member feedback and complaints;
            
            ·          Promote the Services to you, with your consent.
            
            ·          Mobile number (including country).
            
            Necessary for the purpose of the contract between us, and, if you are a Driver Partner, to promote the Services to you, with your consent.
            
            ·          Set-up and manage account;
            
            ·          Provision of Services and required communications in relation to the provision of Services;
            
            ·          Communicate with you in relation to a Ride;
            
            ·          If you are a Driver Partner, promote the Services to you, with your consent.
            
            ·          Payment information:
            
            ·           for Members, this includes billing information, credit card details and your student/senior status (where appropriate);
            
            ·           for Driver Partners, this may include bank account details.
            
            Necessary for the purpose of the contract between us and, where you are a Driver Partner only, for our legitimate interests.
            
            In relation to Members, we use this data in relation to:
            
            ·          Provision of Services (including billing and payment on behalf of Driver Partners);
            
            ·          Customer service.
            
            In relation to Driver Partners, we use this data to:
            
            ·          Set-up and manage account;
            
            ·          Pay you what you are entitled to in respect of the transportation services provided to Members;
            
            ·          Internal operations (including troubleshooting, data analysis, testing, research, statistical and survey purposes);
            
            ·          Prevention of fraud/ integrity of systems and manage accounts.
            
            ·          For Members, feedback you provide on Driver Partners.
            
            Our legitimate interests in monitoring quality of Services and Member experience.
            
            ·          Driver Partner assessment and follow-up;
            
            ·          Investigation of poor ratings and complaints.
            
            For Driver Partners:
            
            ·          How did you hear about ViaVan (drop-down);
            
            ·          Referral name (optional).
            
            Our legitimate interests in understanding how Driver Partners learn about us so we can better plan the provision of our Services.
            
            ·          Understanding how Driver Partners learn about us so we can better plan the provision of our Services;
            
            ·          Providing referral incentives where applicable.
            
            For Driver Partners:
            
            ·          Vehicle information (including, for example, vehicle age, make/model, engine type, mileage) and condition (including, for example, a picture of car (inside and out), and presence of in car equipment);
            
            ·          Insurance information;
            
            ·          Any licence or permission Driver Partner has or needs under local regulations;
            
            ·          Driver’s license;
            
            ·          Vehicle registration;
            
            ·          Vehicle inspection certificates (e.g. MOT) where required;
            
            ·          Road or other tax details for Driver Partner or vehicle (where required);
            
            ·          Traffic violations (including accidents) occurred on the mobile application;
            
            ·          Ticket, fines and violations;
            
            ·          Any expressed route/zone preferences;
            
            ·          Background check.
            
            Our legitimate interests and as is necessary for the purpose of the contract between us.
            
            ·          Set-up and manage account;
            
            ·          Ensure the Services are compliant with regulatory requirements;
            
            ·          Provision of Services;
            
            ·          Internal operations (including troubleshooting, data analysis, testing, research, statistical and survey purposes);
            
            ·          Prevention of fraud/ integrity of systems and manage accounts;
            
            ·          Ensuring the suitability of Driver Partners and the safety of Members.
            
            For Driver Partners:
            
            ·          Physical/ mental health – only drug/alcohol test in the event of a complaint/safety concern.  
            
            Your consent.
            
            ·          To protect the trust and safety of the Members, and the general public;
            
            ·          For insurance purposes;
            
            ·          To ensure compliance with ViaVan policies and standards.
            
            Providing the above information is a requirement of our agreement with you because we can’t provide the Services without it. You can, however, control our ability to send promotional communications as indicated in Section 9 of this Privacy Policy.
            
            2. Information we collect about you from your use of our Services:
            We will automatically collect information from you each time you use our Services.
            
            Personal Data type collected
            
            Lawful basis for processing
            
            Purpose of processing
            
            In relation to Members only:
            
            ·          Technical details:
            
            ·           App version;
            
            ·           Member ID (unique ID our platform assigns to each Member);
            
            ·           Build;
            
            ·           Operating system;
            
            ·           Phone make/ model.
            
            ·          Dates and times of Rides requested and fulfilled;
            
            ·          Cost of Ride;
            
            ·          Remaining credit.
            
            Necessary for the purposes of our contract so we can arrange for Rides and payment and in our legitimate interests in understanding and improving our technology and Services.</p>
        <!-- jQuery -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>

