
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        
        <div class="container">
            
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img data-src="#" alt="">
                    <div class="caption">
                        <h3>Update Require</h3>
                        <p>
                           This App need to Update from Play Store
                        </p>
                        <p>Farther Assiestance Call :+91 8509239522</p>
                        <p>
                            <a href="https://play.google.com/store/apps/details?id=com.paacab.paadriver&hl=en_IN" class="btn btn-primary">Update Now</a>
                            
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
