<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Paa Login</title>
        <link href="/india/images/logo/paaicon.png" rel="icon">
        <link rel="stylesheet" type="text/css" href="/india/stylesheets/inTdriver.css" />
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/india/javascripts/inTdriverlogreg.js"></script>
        
    </head>
    <body>
        
        <%if(reg=="regSuccess"){%>
            <script>alert("Driver Registration Success")</script>
        <%}%>
        <%if(reg=="resetPassword"){%>
            <script>alert("New Password Re-Set Successfully ")</script>
        <%}%>

       
        <div class="headernav">
            <img src="/india/images/logo/paalogo.png">
        </div>
        
        <div class="from-content">
            <form action="/india/tdrv/login" method="POST" enctype="application/x-www-form-urlencoded">
            <div style="margin-top: 30vh;" class="row">
                <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1">
                    <div class="form-group">
                        <%if(msg){%>
                            <label style="color: red;" class="control-label" for="mobile"><%=msg%></label><br>
                        <%}%>
                         
                        
                    <label class="control-label" for="mobile">Enter Valid Mobile Number</label>
                        <div class="input-group">                       
                            <div class="input-group-addon">+91</div>                    
                            <input id="mobile" name="mobile"    type="text" class="form-control" placeholder="Mobile Number" required>
                        </div>
                    </div>
                </div>
                      
                
                <div id="password-content" class="col-xs-10 col-sm-10 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1">
                    <div class="form-group"> 
                            <input id="password" name="password" type="password" class="form-control" placeholder="Password" required> 
                    </div>
                </div>

               

                <div id="submit-content" class="col-xs-10 col-sm-10 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1">
                    <div class="form-group">                      
                      <input type="submit" value="Login" id="submit-btn" class="btn btn-large btn-block btn-success">
                      <p style="margin-top: 20px; font-size: 15px;" class="text-center"><a style="text-decoration: none;" href="/india/tdrv/reg">Register</a> </p>
                      <p style="margin-top: 20px; font-size: 15px;" class="text-center"><a style="text-decoration: none;" href="/india/tdrv/forget">Forget Password</a> </p>
                      <p style="margin-top: 50px;">
                        By continuing, You agree of the <a href="/privacy">term </a>and <a href="/privacy">privacy policy </a> of Paacab 
                      </p>                           
                    </div>
                </div>              
                                     
                
            </div>
            </form>
            
        </div>
        
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>

