
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

       <style>
           .seMode{border: 3px solid #000; width: 30%; height: 30vh; border-radius: 50%; float: left;
           margin-left: 2%; margin-top: 25vh; overflow: hidden; }
           .seMode img{width: 100%;}
           @media (min-width: 320px) and (max-width: 640px){
            .seMode{height: 15vh;} 
           }
       </style> 
    </head>
    <body>
       
       <div class="container-fluid">
           
           <div class="row">
               <div  class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                    <div class="seMode">
                        <a href="../india">
                            <img src="/india/images/taxi.webp">
                        </a>

                    </div>
                     <div class="seMode">
                        <a href="../india/delivery">
                            <img src="/india/images/delivery.webp ">
                        </a>
                    </div>
                    <div class="seMode">
                        <a href="#">
                            <img src="/india/images/employee.png">
                        </a>  
                    </div>
               </div>
           </div>
           
       </div>
       

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
